<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easyplaylist.engine"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
    <!-- android:minSdkVersion="8" -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="App">
        
        <activity 
			android:name="com.easyplaylist.UI.ActivityMain"
			android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
		</activity>
        <!--<service
            android:name="com.easyplaylist.services.EasyPlaylistService"
            android:icon="@drawable/logo"
            />-->
        <service
            android:name="com.easyplaylist.services.PlayerService"
            android:icon="@drawable/logo"
            android:label="@string/service_name"
            />

        <receiver android:name="com.easyplaylist.broadcastreceiver.HeadphoneUplugged"/>

        <receiver
        android:icon="@drawable/logo"
        android:name="com.easyplaylist.widget.EasyPlaylistWidget"
        android:label="Easy playlist widget"
        >
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
        </intent-filter>
        <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/widget_info"
            />
        </receiver>
        <receiver
            android:name="com.easyplaylist.widget.WidgetIntentReceiver"
            android:label="Easy playlist receiver"
            >
            <intent-filter>
                <action android:name="com.easyplaylist.widget.UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"
                />
        </receiver>

    </application>

</manifest>
